.main_style{
  background-color: black;
  color: darkcyan;
  display:flex;
  flex-direction: row;
  min-height: 700px
}

.mission_style{
  background-color:black;
  min-height: 700px;
  color: cadetblue;
  width:50%
}

.mission_listing{
  font-size: 20px;
  padding: 8px
}

.login_style{
  background-color: dimgray;;
  color:black
}

.register_style{
  background-color: lightslategrey;
  color:black
}
.newMission_style{
  background-color: mediumpurple;
  color:black
}

.app_style{
  background-color: mediumturquoise;
  color:black
}

.navbar_style{
  background-color: orchid;
  color:black;
  height:100px
}

.left_style{
  background-color: palegreen;
  width:50%
}

.right_style{
  background-color: sandybrown;
  width:50%
}

.split_mission{
  display:flex;
  width:50%;
  min-height: 700px;
}